go 1.20

use (
	./backend/pkg/config	
	./backend/pkg/database
	./backend/pkg/logger
	./backend/pkg/middleware
	./backend/pkg/server
	./backend/pkg/signal
	./backend/pkg/unleash
	./backend/services/account
	./backend/services/auth
	./backend/services/mgmt
	./backend/services/user
)
